<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hemaapp.hm_FrameWork">
    <!-- 注意此处versionCode和versionName均为3位,每位依次对应。如versionName=1.2.3则versionCode=123 -->

    <!--<uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    &lt;!&ndash; 注意android:minSdkVersion最大为9 &ndash;&gt;


    &lt;!&ndash; permissions start &ndash;&gt;
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    &lt;!&ndash; 使用定位功能所需权限 &ndash;&gt;
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    &lt;!&ndash; shareSDK权限 &ndash;&gt;
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    &lt;!&ndash; 百度推送权限 &ndash;&gt;
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    &lt;!&ndash; permissions send &ndash;&gt;

    -->
    <!--<application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

    </application>-->
</manifest>
